<%- include('../partials/head.ejs') %>

    <body>
        <h1>
            <a href="/">
                <%= appTitle %>
            </a>
        </h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/snippets">Retour à la liste</a></li>
            </ul>
        </nav>

        <hr>
        <h2>
            Détail du snippet : <%= snippet.title %>
        </h2>
        <pre>
            <%= snippet.code %>
        </pre>
        <p>
            <strong>Status: </strong>
            <%= snippet.is_public ? "Public" : "Privé" %>
        </p>
        <p>
            <strong>Description: </strong><%= snippet.description %>
        </p>
        <p><strong>Niveau:</strong>
            <%= snippet.complexity %>
        </p>
        <p>
            <%= snippet.createdAt %>
        </p>
        <p>
        <p><strong>Language:</strong>
            <%= snippet.language_name %>
        </p>
        </p>
        <p>
        <h4>Tags:</h4>
        <ul>
            <% snippet.tags.forEach(tag=> { %>
                <li>
                    <%= tag.name %>
                </li>
                <% }) %>
        </ul>
        </p>
        <p>
        <h4>Projects:</h4>
        <ul>
            <% snippet.projects.forEach(project=> { %>
                <li>
                    <%= project.name %>
                </li>
                <% }) %>
        </ul>
        </p>
        <form action="/snippets/<%= snippet.id %>/delete" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="DELETE" />
            <a href="/snippets/<%= snippet.id %>/edit">Edit</a>
            <button type="submit" onclick="return confirm('Etes vous sûr?')">Supprimer</button>
        </form>

    </body>

    </html>