<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
        <div class="p-3">
            <a class="" href="/snippets">Back</a>
        </div>
        <div class="container flex-grow-1 p-5">

            <div class="row justify-content-between">
                <div class="col">
                    <h2>
                        Détail du snippet : <%= snippet.title %>
                    </h2>
                </div>
                <div class="col d-flex justify-content-end">
                    <% if (locals.admin) { %>
                        <form action="/snippets/<%= snippet.id %>/delete" method="POST"
                            enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_method" value="DELETE" />
                            <div>
                                <a class="btn btn-primary" href="/snippets/<%= snippet.id %>/edit">Edit</a>
                                <button class="btn btn-danger" type="submit"
                                    onclick="return confirm('Etes vous sûr?')">Supprimer</button>
                            </div>
                        </form>
                        <% } %>
                </div>
            </div>
            <pre>
            <code>
                <%= snippet.code %>
            </code>
        </pre>
            <p>
                <strong>Status: </strong>
                <%= snippet.is_public ? "Public" : "Privé" %>
            </p>
            <p>
                <strong>Description: </strong>
                <%= snippet.description %>
            </p>
            <p><strong>Niveau:</strong>
                <%= snippet.complexity %>
            </p>
            <p>
                <%= snippet.createdAt %>
            </p>
            <p>
            <p><strong>Language:</strong>
                <%= snippet.language_name %>
            </p>
            </p>
            <p>
            <h3>Tags:</h3>
            <ul>
                <% snippet.tags.forEach(tag=> { %>
                    <li>
                        <%= tag.name %>
                    </li>
                    <% }) %>
            </ul>
            </p>
            <p>
            <h3>Projects:</h3>
            <ul>
                <% snippet.projects.forEach(project=> { %>
                    <li>
                        <%= project.name %>
                    </li>
                    <% }) %>
            </ul>
            </p>
        </div>
        <%- include('../partials/footer.ejs') %>

            </body>

            </html>