<%- include('../partials/head.ejs') %>

    <body>
        <h1>
            Détail du snippet : <%= snippet.title %>
        </h1>
        <pre>
            <%= snippet.code %>
        </pre>
        <p>
            <%= snippet.description %>
        </p>
        <p><strong>Niveau:</strong>
            <%= snippet.complexity %>
        </p>
        <p>
            <%= snippet.createdAt %>
        </p>
        <p>
        <p><strong>Language:</strong>
            <%= snippet.language_name %>
        </p>
        </p>
        <p>
        <h4>Tags:</h4>
        <ul>
            <% snippet.tags.forEach(tag=> { %>
                <li>
                    <%= tag.name %>
                </li>
                <% }) %>
        </ul>
        </p>
        <p>
        <h4>Projects:</h4>
        <ul>
            <% snippet.projects.forEach(project=> { %>
                <li>
                    <%= project.name %>
                </li>
                <% }) %>
        </ul>
        </p>
        <a href="/snippets/<%= snippet.id %>/edit">Edit</a>
        <a href="/snippets">Back to list</a>
        <form action="/snippets/<%= snippet.id %>/delete" method="POST" style="display:inline;">
            <button type="submit" onclick="alert('Etes vous sûr?')">Supprimer</button>
        </form>

    </body>

    </html>