<%- include('../partials/head.ejs') %>

    <body>

        <body data-theme="light" class="min-h-screen flex flex-col items-center justify-between">
            <%- include('../partials/navbar.ejs') %>
                <div class="container flex justify-center">
                    <form class="w-xs" action="/snippet/create" method="post">
                        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
                            <label class="input" for="title">
                                <span class="label">Titre</span>
                                <input type="text" name="title" id="title" placeholder="Snippet..." />
                            </label>
                            <label for="code">Code</label>
                            <textarea class="textarea" name="code" id="code" placeholder="Code..."></textarea>
                            <label for="description">Description</label>
                            <textarea class="textarea" name="description" id="description"
                                placeholder="Description..."></textarea>
                            <label for="language">Langage</label>
                            <select class="select w-full max-w-xs" name="language_id" id="language_id">
                                <% languages.forEach(language=> { %>
                                    <option value="<%= language.id %>">
                                        <%= language.name %>
                                    </option>
                                    <% }) %>
                            </select>
                            <label for="projects">Projet</label>
                            <select name="projects" id="projects" multiple>
                                <% projects.forEach(project=> { %>
                                    <option value="<%= project.id %>">
                                        <%= project.name %>
                                    </option>
                                    <% }) %>
                            </select>
                            <label for="tags">Tags (Ctrl + Click pour en sélectionner plusieurs)</label>
                            <select name="tags" id="tags" multiple>
                                <% tags.forEach(tag=> { %>
                                    <option value="<%= tag.id %>">
                                        <%= tag.name %>
                                    </option>
                                    <% }) %>
                            </select>
                            <label for="complexity">Complexité :</label>
                            <select class="select" id="complexity" name="complexity" required>
                                <option value="">-- Choisir une complexité --</option>
                                <option value="Débutant">Débutant</option>
                                <option value="Intermédiaire">Intermédiaire</option>
                                <option value="Avancé">Avancé</option>
                            </select>
                            <label for="is_public">Public</label>
                            <input type="checkbox" name="is_public" id="is_public" value=true class="checkbox" />
                        </fieldset>
                        <button type="submit" class="btn btn-primary mt-2">Editer</button>
                        <a class="btn btn-error mt-2" href="/snippet">Annuler</a>
                    </form>

                </div>

                <%- include('../partials/footer.ejs') %>
        </body>
    </body>

    </html>