<%- include('../partials/head.ejs') %>

    <body data-theme="light" class="min-h-screen flex flex-col items-center justify-between">
        <%- include('../partials/navbar.ejs') %>
            <div class="container flex justify-center">
                <form class="w-xs" action="/snippet/<%= snippet.id %>" method="post">
                    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
                        <legend class="fieldset-legend">Snippet</legend>
                        <label class="input">
                            <span class="label">Titre</span>
                            <input type="text" class="input" name="title" id="title" value="<%= snippet.title %>"
                                placeholder="Titre" />
                        </label>
                        <label class="label" for="code">Code</label>
                        <textarea class="textarea" name="code" id="code"><%= snippet.code %></textarea>
                        <label class="label" for="description">Description</label>
                        <textarea class="textarea" name="description"
                            id="description"><%= snippet.description %></textarea>
                        <select class="select" name="language_id" id="language_id">
                            <option disabled selected>Langage</option>
                            <% languages.forEach(language=> { %>
                                <option value="<%= language.id %>" <%=snippet.language_name===language.name ? 'selected'
                                    : '' %> >
                                    <%= language.name %>
                                </option>
                                <% }) %>
                        </select>
                        <label for="tags">Tags</label>
                        <select class="border " name="tags" id="tags" multiple>
                            <% tags.forEach(tag=> { %>
                                <option value="<%= tag.id %>" <%=snippet.tags.some(t=> t.name === tag.name) ?
                                    'selected' : '' %>>
                                    <%= tag.name %>
                                </option>
                                <% }); %>
                        </select>
                        <label for="projects">Projets</label>
                        <select name="projects" id="projects" multiple>
                            <% projects.forEach(project=> { %>
                                <option value="<%= project.id %>" <%=snippet.projects.some(p=> p.name === project.name)
                                    ?
                                    'selected' : '' %> >
                                    <%= project.name %>
                                </option>
                                <% }); %>
                        </select>


                        <label for="is_public">Public</label>
                        <input type="checkbox" name="is_public" id="is_public" value=true <%=snippet.is_public===true
                            ? "checked" : "" %> class="checkbox" />
                    </fieldset>
                    <button type="submit" class="btn btn-primary mt-2">Editer</button>
                    <a class="btn btn-error mt-2" href="/snippet">Annuler</a>
                </form>

            </div>

            <%- include('../partials/footer.ejs') %>
    </body>

    </html>