<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
        <div class="container flex-grow-1 p-5">
            <a href="/tags">Retour</a>
            <h2>
                <%= title %>
            </h2>
            <p><strong>Name :</strong>
                <%= tag.name %>
            </p>
            <% if (locals.admin) { %>
                <form action="/tags/<%= tag.id %>/delete" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="DELETE">
                    <div>
                        <a class="btn-edit" href="/tags/<%= tag.id %>/edit">Editer</a>
                        <button class="btn-delete" type="submit"
                            onclick="return confirm('Etes vous sûr ?')">Supprimer</button>
                    </div>
                </form>
                <% } %>

        </div>
        <%- include('../partials/footer.ejs') %>
            </body>
            <html>