<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
        <hr>
        <h2>
            <%= title %>
        </h2>
        <p><strong>Name :</strong>
            <%= tag.name %>
        </p>
        <% if (locals.admin) { %>
            <form action="/tags/<%= tag.id %>/delete" method="post" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" value="DELETE">
                <a href="/tags/<%= tag.id %>/edit">Editer</a>
                <button type="submit" onclick="return confirm('Etes vous sûr ?')">Supprimer</button>
            </form>
            <% } %>
                </body>
                <html>