<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
        <div class="container flex-grow-1 p-5">
            <h2>
                <%= title %>
            </h2>
            <%- include('../partials/errors.ejs') %>
                <form action="/tags/<%= tag.id%>/edit" method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="mb-3">
                        <label class="form-label" for="name">Nom: </label>
                        <input class="form-control" type="text" name="name" id="name" value="<%= tag.name %>">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
                        <a class="btn btn-danger" href="/tags/<%= tag.id %>">Annuler</a>
                    </div>
                </form>
        </div>
        </body>
        <html>