<%- include('../partials/head.ejs') %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects/create">Ajouter un projet</a></li>
        </ul>
        <hr>
        <table>
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% projects.forEach(project=> { %>
                    <tr>
                        <th>
                            <%= project.id %>
                        </th>
                        <td>
                            <%= project.name %>
                        </td>
                        <td><a href="/projects/<%= project.id %>">Details</a></td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% for( let index=0; index < pages; index++ ) { %>
            <a href="/projects?p=<%= index + 1 %>">
                <%= index + 1 %>
            </a>
            <% } %>
    </body>

    </html>