<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
        <div class="container">
            <h2>
                <%= title %>
            </h2>
            <% if (locals.admin) { %>
                <a class="btn-add" href="/projects/create">Ajouter un projet</a>
                <% } %>
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <% projects.forEach(project=> { %>
                                <tr>
                                    <th>
                                        <%= project.id %>
                                    </th>
                                    <td>
                                        <%= project.name %>
                                    </td>
                                    <td><a href="/projects/<%= project.id %>">Details</a></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <%- include('../partials/pagination.ejs') %>
        </div>
        </body>

        </html>